*{
  margin: 0px;
  padding: 0px;
}

header{
  height: 70px;
  border-bottom: solid black 1px;
}


header h1{
  text-align: center;
  padding-top: 10px;
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
}

nav{
  height: 50px;
  text-align: center;
  margin-top: 10px;
}

.nav_ul_li{
  display: inline-block;
  padding-right: 20px;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
}


footer{
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
