.brand-logo{
  font-family: 'Questrial', sans-serif;
}

.nav_ul_li{
  display: inline-block;
  padding-right: 20px;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
}

.img{
  margin-top: 212px;
}

.carousel.carousel-slider {
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
  }

#article_link_meetup{
  margin-top: 45px;
  margin-left: 45px;
  height: 200px;
  width: 200px;
}
